<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
      <label>Name</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-list" [class.green-icon]="ItemName.valid" [class.red-icon]="ItemName.invalid && ItemName.touched"></i>
        </div>
      </div>
      <input name="ItemName" #ItemName="ngModel"
      [(ngModel)]="service.formData.ItemName"
      class="form-control"
      placeholder="Name" required minlength="3">
    </div>
  </div>
  <div class="form-group">
      <label>Quantity</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-list" [class.green-icon]="ItemQuantity.valid" [class.red-icon]="ItemQuantity.invalid && ItemQuantity.touched"></i>
        </div>
      </div>
      <input pattern="[0-9]+" name="ItemQuantity" #ItemQuantity="ngModel"
      [(ngModel)]="service.formData.ItemQuantity"
      class="form-control"
      placeholder="ItemQuantity" required minlength="1" maxlength="7">
    </div>
  </div>
  <div class="form-group">
      <label>Description</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-comment-alt" [class.green-icon]="ItemDescription.valid" [class.red-icon]="ItemDescription.invalid && ItemDescription.touched"></i>
        </div>
      </div>
      <input name="ItemDescription" #ItemDescription="ngModel"
      [(ngModel)]="service.formData.ItemDescription"
      class="form-control"
      placeholder="ItemDescription" required minlength="3">
    </div>
  </div>
  <div class="form-group">
      <label>Picture</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="far fa-image"></i>
        </div>
      </div>
      <input type="file" name="ItemImage"
      class="form-control" (pointerleave)="readUrl($event)">
    </div>
  </div>
  <div class="form-group">
      <label>Price</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-dollar-sign" [class.green-icon]="ItemPrice.valid" [class.red-icon]="ItemPrice.invalid && ItemPrice.touched"></i>
        </div>
      </div>
      <input name="ItemPrice" #ItemPrice="ngModel"
      [(ngModel)]="service.formData.ItemPrice"
      class="form-control"
      placeholder="ItemPrice" required minlength="2">
    </div>
  </div>
  <!-- <div class="form-group">
      <label>Raiting</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-list" [class.green-icon]="ItemRaiting.valid" [class.red-icon]="ItemRaiting.invalid && ItemRaiting.touched"></i>
        </div>
      </div>
      <input name="ItemRaiting" #ItemRaiting="ngModel"
      [(ngModel)]="service.formData.ItemRaiting"
      class="form-control"
      placeholder="ItemRaiting" required minlength="1">
    </div>
  </div> -->
  <div class="form-group">
    <span>Category </span>
    <a class="btn btn-sm btn-dark text-white" (click)="addNewCategory(form)"><i class="fa fa-plus"></i></a>
    <select (onmouseover)="service.refreshCategories()" name="CategoryID" #CategoryID="ngModel" [(ngModel)]="service.formData.CategoryID" class="form-control" required>
      <option *ngFor="let item of categoryList" value="{{item.CategoryID}}">{{item.CategoryName}} </option>
    </select>
  </div>
  <div class="form-group">
    <span>Color </span>
    <a class="btn btn-sm btn-dark text-white" (click)="addNewColor(form)"> <i class="fa fa-plus"></i></a>
    <select name="ColorID" #ColorID="ngModel" [(ngModel)]="service.formData.ColorID" class="form-control" required>
      <option *ngFor="let item of colorList" value="{{item.ColorID}}">{{item.ColorName}}</option>
    </select>
  </div>
  <div class="form-group">
    <span>Size </span>
    <a class="btn btn-sm btn-dark text-white" (click)="addNewSize(form)"><i class="fa fa-plus"></i></a>
    <select name="SizeID" #SizeID="ngModel" [(ngModel)]="service.formData.SizeID" class="form-control" required>
      <option *ngFor="let item of sizesList" value="{{item.SizeID}}">{{item.SizeName}}</option>
    </select>
  </div>
  <div class="form-group">
    <span>Brand </span>
    <a class="btn btn-sm btn-dark text-white" (click)="addNewBrand(form)"><i class="fa fa-plus"></i></a>
    <select name="BrandID" #BrandID="ngModel" [(ngModel)]="service.formData.BrandID" class="form-control" required>
      <option *ngFor="let item of brandList" value="{{item.BrandID}}">{{item.BrandName}}</option>
    </select>
  </div>
  <div class="form-group">
    <span>Sex </span>
    <a class="btn btn-sm btn-dark text-white" (click)="addNewSex(form)"><i class="fa fa-plus"></i></a>
    <select name="SexID" #CategSexIDoryID="ngModel" [(ngModel)]="service.formData.SexID" class="form-control" required>
      <option *ngFor="let item of sexList" value="{{item.SexID}}">{{item.SexName}}</option>
    </select>
  </div>
    <div class="form-group">
      <button name="firstSubmit" class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-save"></i> Add</button>
      <!-- <button name="variantSubmit" class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-save"></i> Add next variant</button> -->
    </div>
</form>
