<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="SizeID" [value]="service.formData.SizeID">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-list" [class.green-icon]="SizeName.valid" [class.red-icon]="SizeName.invalid && SizeName.touched"></i>
        </div>
      </div>
      <input name="SizeName"
      #SizeName="ngModel"
      [(ngModel)]="service.formData.SizeName"
      class="form-control"
      placeholder="Size" required minlength="2" maxlength="2">
    </div>
  </div>
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-save"></i> Submit</button>
    </div>
</form>
