/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#dataFormInOrder{
  display: none;
}

table tr:hover{
  cursor: pointer;
}

body{
  background-color: white;
}

.addtocartinput{
  float: right;
}

#QuantityCart .p1[data-count]:after{
  position:absolute;
  right:10%;
  top:8%;
  content: attr(data-count);
  font-size:40%;
  padding:.2em;
  border-radius:50%;
  line-height:1em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1em;
}

.QuantityCart{
  font-style: normal;
}

.green-icon{
  color: #28a745;
}

.red-icon{
  color: #dc3545;
}

form{
  margin: 0px 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  color:white;
}

.wrapped-div {
  border-radius: 10px 10px 10px 10px;
  background: #1b143f;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.tab-header{
  text-align: center;
}

.tab-header h2.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display:inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #545d6a;
}

.tab-header h2:focus {
    outline: none;
}

button[type=submit].btn{
  border-radius: 20px;
  background-color: #000000;
  color: white;
}
