<app-home></app-home>
<div class="jumbtron">
  <!-- <h1 class="display-4 text-center">dsad</h1> -->
  <hr>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
        <tr *ngFor="let id of productService.list">
      <img [src]="id.ItemImage" style="width: 300px; height: 300px;">
    </div>
    <div class="col-md-5">
      <button class="btn btn-info" (click)="backToShop()">Back</button>
        <table *ngFor="let id of productService.list">
          <tr>{{id.ItemID}}</tr>
        <tr><h3>{{id.ItemName}}</h3></tr>
        <tr>Available: {{id.ItemQuantity}}</tr>
        <tr>Price: {{id.ItemPrice}}$</tr>
        <tr>Raiting: {{id.ItemRaiting}}</tr>
        <tr>Color: {{id.ColorName}}</tr>
        <tr>Size: {{id.SizeName}}</tr>
        <tr>Brand: {{id.BrandName}}</tr>
        <tr>Sex: {{id.SexName}}</tr>
        <div class="form-group">
          <label>Quantity</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-list" [class.green-icon]="ItemQuantity.valid" [class.red-icon]="ItemQuantity.invalid && ItemQuantity.touched"></i>
            </div>
          </div>
          <input pattern="[0-9]+" name="ItemQuantity" #ItemQuantity="ngModel"
          [(ngModel)]="this.QuantityToCart"
          class="form-control"
          placeholder="Item Quantity" required minlength="1" maxlength="7">
        </div>
      </div>
        <button class="btn btn-success text-white" (click)="addToCart(id)">Add to cart</button>
        <!-- <select name="CategoryID" #CategoryID="ngModel" [(ngModel)]="productService.list" class="form-control" required>
            <option *ngFor="let item of productService.list | groupBy:'item.ColorName' | pairs" value="{{item.CategoryID}}">{{item.ColorName}} </option>
        </select> -->
        </table>

    </div>
    <div class="col-md-2">

    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <!-- <app-item-detail></app-item-detail> -->
    </div>
    <div class="col-md-8">
        <tr *ngFor="let id of productService.list">
        <td>{{id.ItemDescription}}</td>
    </div>
    <div class="col-md-2">
      <!-- <app-item-detail-list></app-item-detail-list> -->
    </div>
  </div>
</div>
